@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Roboto&display=swap");


.grand{

    position: sticky;
    top: 0;
}
.nav {
  border: 1px solid black;
  margin: 10px 20px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: lightgreen;
  /* position: relative; */
  position: sticky;
  top: 0;

}



.sibling{

    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 15vh;
    background-color: lightblue;
    position: sticky;
    top: 100px;


}

/* .parent2, .parent3{

    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    color: red;
    
} */

 h1{

    border: 1px solid black;
    /* margin: 10px;
    padding: 10px; */
    color: red;
    background-color: antiquewhite;
    /* font-size: 30px; */
    position: fixed;
    left: 10;
    top: 185px;
}


.parent3 button:nth-child(1){

    /* margin: 10px;
    padding: 10px; */
    background-color: aqua;
    position: absolute;
    right: 0px;
    top: 0;
   
   
}
.parent3 button:nth-child(2){

    /* margin: 10px;
    padding: 10px; */
    background-color: aqua;
    position: absolute;
    right: 20px;
    top: 0;
   
   
}
.parent3 button:nth-child(3){

    /* margin: 10px;
    padding: 10px; */
    background-color: aqua;
    position: absolute;
    right: 40px;
    top: 0;
   
   
}
.parent3 button:nth-child(4){

    /* margin: 10px;
    padding: 10px; */
    background-color: aqua;
    position: absolute;
    right: 60px;
    top: 0;
   
   
}

.parent3{

   

}





p {
  font-size: 35px;
  line-height: 35px;
}
